<p>Ol&aacute;, prezado cliente!</p>
<p><br /><br /></p>
<p>Considerando que n&atilde;o recebemos retorno dos dois e-mails enviados anteriormente sobre o nosso pedido de valida&ccedil;&atilde;o do balancete de verifica&ccedil;&atilde;o para a entrega da ECD, estamos tomando liberdade de enviar o arquivo para a Receita Federal do Brasil com o intuito de evitar o descumprimento do prazo e consequente multas que variam entre R4 1.500,00 &agrave; R$ 5.000,00 por m&ecirc;s de atraso.</p>
<p><br /><br /></p>
<p>Vale ressaltar que as empresa que n&atilde;o possu&iacute;rem certificado digital, ficar&atilde;o respons&aacute;veis por essas multas impostas pela Receita Federal haja em vista que n&atilde;o termos com entregar o referido arquivo.</p>
<p><br /><br /></p>
<p align="justify"><br /><br /></p>
<p align="justify">Desde j&aacute; agradecemos a colabora&ccedil;&atilde;o e aten&ccedil;&atilde;o.</p>
<p align="justify">Equipe PLK - PROLINK ASSESSORIA CONTABIL LTDA - EPP</p>
<p><br /><br /></p>