<p><br /><br /></p>
<p align="justify">Ol&aacute;, prezado cliente!</p>
<p align="justify"><br /><br /></p>
<p align="justify">Seguindo as determina&ccedil;&otilde;es da Instru&ccedil;&atilde;o Normativa RFB N&ordm; 2003, de 18 de janeiro de 2021 que disp&otilde;e sobre a <strong>Escritura&ccedil;&atilde;o Cont&aacute;bil Digital (ECD)</strong> e tamb&eacute;m cumprindo com o nosso compromisso &eacute;tico que prop&otilde;e transpar&ecirc;ncia nos servi&ccedil;os prestados, enviamos em anexo deste e-mail, para vossa valida&ccedil;&atilde;o, o <u>Balancete de Verifica&ccedil;&atilde;o</u> da sua empresa.</p>
<p align="justify"><br /><br /></p>
<p align="justify">O conte&uacute;do deste <u>Balancete de verifica&ccedil;&atilde;o</u> ora anexado neste e-mail, corresponde ao <span style="color: #ff0000;"><u>ano calend&aacute;rio 2020</u></span> e estar&aacute; presente na <strong>Escritura&ccedil;&atilde;o Cont&aacute;bil Digital (ECD).</strong></p>
<p align="justify"><br /><br /></p>
<p align="justify">Pedimos a gentileza de que formalize em resposta deste e-mail, sua autoriza&ccedil;&atilde;o e concord&acirc;ncia com as informa&ccedil;&otilde;es apresentadas para que possamos dar continuidade no processo do envio dos arquivos a Receita Federal do Brasil.</p>
<p align="justify"><br /><br /></p>
<p align="justify">A PLK - PROLINK ASSESSORIA CONTABIL LTDA &ndash; EPP far&aacute; o envio do arquivo eletronicamente utilizando o certificado digital modelo A1 ou A3 seguindo os passos a seguir:</p>
<p align="justify"><br /><br /></p>
<ol>
    <li>
        <p align="justify"><span style="color: #ff0000;"><u><strong>Se o certificado digital estiver em posse da PLK,</strong></u></span><u> </u> faremos a transmiss&atilde;o do arquivo para a Receita Federal do Brasil no prazo regulamentar, por&eacute;m como informado acima, precisaremos do aceite do Balancete de Verifica&ccedil;&atilde;o da sua empresa.</p>
    </li>
</ol>
<p align="justify"><br /><br /></p>
<ol start="2">
    <li>
        <p align="justify"><span style="color: #ff0000;"><u><strong>Se o certificado estiver em sua posse (cliente),</strong></u></span><u> </u>favor nos informar no mesmo email , al&eacute;m do aceite do Balancete de verifica&ccedil;&atilde;o, que possui o certificado digital e-CNPJ ou e-CPF modelo A1 ou A3 e que n&atilde;o ir&aacute; enviar o mesmo para a Prolink, para que possamos encaminhar o arquivo juntamente com o manual de instala&ccedil;&atilde;o do certifica&ccedil;&atilde;o. Valide o arquivo seguindo o passo a passo do manual e encaminhe para a Prolink que far&aacute; a finaliza&ccedil;&atilde;o do processo.</p>
    </li>
</ol>
<p align="justify"><br /><br /></p>
<p align="justify">Em casos de d&uacute;vidas ou n&atilde;o concord&acirc;ncia com as informa&ccedil;&otilde;es apresentadas, disponibilizados o e-mail <span style="color: #0563c1;"><u><a href="mailto:contabil@prolinkcontabil.com.br">contabil@prolinkcontabil.com.br</a></u></span> ou telefone (11) 3107-4505 para que o respons&aacute;vel t&eacute;cnico pela sua empresa e tire todas as suas d&uacute;vidas.</p>
<p align="justify"><br /><br /></p>
<p align="justify">Desde j&aacute; agradecemos a colabora&ccedil;&atilde;o e aten&ccedil;&atilde;o.</p>
<p align="justify">Equipe PLK - PROLINK ASSESSORIA CONTABIL LTDA - EPP</p>
<p align="justify"><br /><br /></p>
<p>&nbsp;</p>